<!-- /// FOOTER //////////////////////////////////////////////////////////// -->
<footer class=
  "{% if page.summary %}color{{page.summary}}{% else %}{% if page.categories %}color{{page.categories[1]}}{% else %}colordefault{% endif %}{% endif %}">
  <nav>
    <a href="http://www.serli.com">
      <img src="{{ site.baseurl }}/assets/brand.png"/>
    </a>
		<div>
	    <ul>
        <!-- /// rss /////////////////////////////////////////////////////// -->
        <li id="rss">
          <a href="{{ site.url }}/{{ site.baseurl }}feed.xml">
            <img src="{{ site.baseurl }}/assets/rss.png" />
          </a>
        </li>
        <!-- /// mail ////////////////////////////////////////////////////// -->
	      <li>
          <img src="{{ site.baseurl }}/assets/footer/mail.png" />
          <a href="mailto:formation@serli.com">formation@serli.com</a>
        </li>
        <!-- /// telephone ///////////////////////////////////////////////// -->
	      <li>
          <img src="{{ site.baseurl }}/assets/footer/telephone.png" />
          <span>+33(0)5 49 49 49 30</span>
        </li>
        <!-- /// lien ////////////////////////////////////////////////////// -->
	      <li>
          <img src="{{ site.baseurl }}/assets/footer/lien.png" />
          <a href="http://www.serli.com">www.serli.com</a>
        </li>
        <!-- /// adresse /////////////////////////////////////////////////// -->
	      <li>
          <img src="{{ site.baseurl }}/assets/footer/adresse.png" />
          <span>Serli - Avenue Thomas Edison - BP 20160 - 86960 Futuroscope Cedex</span>
        </li>
        <!-- /////////////////////////////////////////////////////////////// -->
	    </ul>
		</div>
  </nav>
</footer>
<!-- /////////////////////////////////////////////////////////////////////// -->
