<!-- /// FOOTER //////////////////////////////////////////////////////////// -->
<footer class=
  "{% if page.categories %}color{{page.categories}}{% else %}{% if page.node %}color{{page.node}}{% else %}colordefault{% endif %}{% endif %}"
>
  <nav>
    <img src="{{ site.baseurl }}/assets/brand.png"/>
		<div>
	    <ul>
        <!-- /// mail ////////////////////////////////////////////////////// -->
	      <li>
          <!--img src="{{ site.baseurl }}/assets/footer/mail.png" /-->
          {{' '}}
          <a href="formation@serli.com">formation@serli.com</a>
        </li>
        <!-- /// telephone ///////////////////////////////////////////////// -->
	      <li>
          <img src="{{ site.baseurl }}/assets/footer/telephone.png" />
          {{' '}}
          <span>+33(0)5 49 49 49 30</span>
        </li>
        <!-- /// lien ////////////////////////////////////////////////////// -->
	      <li>
          <img src="{{ site.baseurl }}/assets/footer/lien.png" />
          {{' '}}
          <a href="www.serli.com">www.serli.com</a>
        </li>
        <!-- /// adresse /////////////////////////////////////////////////// -->
	      <li>
          Serli - Avenue Thomas Edison - BP 20160 - 86960 Futuroscope Cedex
        </li>
        <!-- /////////////////////////////////////////////////////////////// -->
	    </ul>
		</div>
  </nav>
</footer>
<!-- /////////////////////////////////////////////////////////////////////// -->
