<!-- /// FOOTER //////////////////////////////////////////////////////////// -->
<footer class=
  "{% if page.summary %}color{{page.summary}}{% else %}{% if page.categories %}color{{page.categories[1]}}{% else %}colordefault{% endif %}{% endif %}">
  <div class="container clearfix">

      <div class="footer-block footer-address-block">
        <h3>Nous trouver :</h3>
        <div>
          <a href="http://www.serli.com" title="SERLI">
            <img src="{{ site.baseurl }}/assets/brand.png"/>
          </a>
        </div>
        <span>Avenue Thomas Edison<br>BP 20160 - 86960<br>Futuroscope Cedex</span>
      </div>
      <div class="footer-block footer-infos-block">
        <h3>Nous contacter :</h3>
        <ul>
          <li>
            <img src="{{ site.baseurl }}/assets/footer/telephone.png" />
            <span>+33(0)5 49 49 49 30</span>
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/footer/mail.png" />
            <a href="mailto:formation@serli.com">formation@serli.com</a>
          </li>
          <li>
            <img src="{{ site.baseurl }}/assets/footer/lien.png" />
            <a href="http://www.serli.com">www.serli.com</a>
          </li>
        </ul>
      </div>
      <div class="footer-block footer-social-block">
        <h3>Nous suivre :</h3>
        <ul class="clearfix">
          <li id="facebook">
            <a href="https://www.facebook.com/SerliFr/?fref=ts" target="_blank" title="Facebook">
              <img src="{{ site.baseurl }}/assets/icon-facebook.png" />
            </a>
          </li>
          <li id="twitter">
            <a href="https://twitter.com/SerliFr?lang=fr" target="_blank" title="Twitter">
              <img src="{{ site.baseurl }}/assets/icon-twitter.png" />
            </a>
          </li>
          <li id="rss">
            <a href="{{ site.url }}{{ site.baseurl }}/feed.xml">
              <img src="{{ site.baseurl }}/assets/rss.png" />
            </a>
          </li>
        </ul>
      </div>

  </div>
</footer>
<!-- /////////////////////////////////////////////////////////////////////// -->
