<!-- /// TITLE ///////////////////////////////////////////////////////////// -->
<header class=
	"{% if page.summary %}color{{page.summary}}{% else %}{% if page.categories %}color{{page.categories[1]}}{% else %}colordefault{% endif %}{% endif %}"
>
	<div class="container">
		{% if page.title %}
			{% assign title = page.title %}
		{% else %}
			{% if page.summary %}
				{% assign title = site.title  %}
				{% for somaire in site.data.group %}
					{% if somaire.name == page.summary %}
						{% if somaire.title %}
							{% assign title = somaire.title %}
						{% else %}
							{% assign title = somaire.name %}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% else %}
				{% assign title = site.title %}
			{% endif %}
		{% endif %}
		{% assign my_lenght = title|size %}
		<a href="{{ site.baseurl }}/">
			<h1 class="{% if 25 <= my_lenght %}bigTitle{% else %}smalTitle{% endif %}">{{ title }}</h1>
		</a>
	</div>
</header>
<!-- /////////////////////////////////////////////////////////////////////// -->

<!-- /// MENU ////////////////////////////////////////////////////////////// -->
<aside class=
	"{% if page.summary %}color{{page.summary}}{% else %}{% if page.categories %}color{{page.categories[1]}}{% else %}colordefault{% endif %}{% endif %}"
>
	<div class="container">
		<nav>
			<ul>
				<!-- /// home ////////////////////////////////////////////////////// -->
				<li><a class=
						"clearfix {% if page.summary %}color{{page.summary}}{% else %}{% if page.categories %}color{{page.categories[1]}}{% else %}colordefault{% endif %}{% endif %}"
						href="{{ site.baseurl }}/"
					>
						<img src="{{ site.baseurl }}/assets/TrainingsCategories/WhiteIcon/home.png"/>
						<span>Home</span>
				</a></li>
				<!-- /// training_category ///////////////////////////////////////// -->
				{% for somaire in site.data.group %}
					<li><a class=
						"{% if page.summary %}color{{page.summary}}{% else %}{% if page.categories %}color{{page.categories[1]}}{% else %}colordefault{% endif %}{% endif %}"
						href="{{ site.baseurl }}/Summary/{{somaire.name}}">
							<img src="{{ site.baseurl }}{{somaire.image}}"/>
							<span>{% if somaire.title %}{{somaire.title}}{%else%}{{somaire.name}}{% endif %}</span>
					</a></li>
				{% endfor %}
				<!-- /////////////////////////////////////////////////////////////// -->
			</ul>
		</nav>
	</div>
</aside>
