
<!-- /// MENU ////////////////////////////////////////////////////////////// -->
<aside class=
	"{% if page.summary %}color{{page.summary}}{% else %}{% if page.categories %}color{{page.categories[1]}}{% else %}colordefault{% endif %}{% endif %}"
>
	<div class="container">
		<nav>
			<ul>
				<!-- /// home ////////////////////////////////////////////////////// -->
				<li><a class=
						"{% if page.summary %}color{{page.summary}}{% else %}{% if page.categories %}color{{page.categories[1]}}{% else %}colordefault{% endif %}{% endif %}"
						href="{{ site.url }}/{{ site.baseurl }}"
					>
						<img src="{{ site.baseurl }}/assets/TrainingsCategories/WhiteIcon/home.png"/>
						<span>Home</span>
				</a></li>
				<!-- /// training_category ///////////////////////////////////////// -->
				{% for somaire in site.data.group %}
					<li><a class=
						"{% if page.summary %}color{{page.summary}}{% else %}{% if page.categories %}color{{page.categories[1]}}{% else %}colordefault{% endif %}{% endif %}"
						href="{{ site.baseurl }}/Summary/{{somaire.name}}">
							<img src="{{ site.baseurl }}{{somaire.image}}"/>
							<span>{% if somaire.title %}{{somaire.title}}{%else%}{{somaire.name}}{% endif %}</span>
					</a></li>
				{% endfor %}
				<!-- /////////////////////////////////////////////////////////////// -->
			</ul>
		</nav>
	</div>
</aside>
<!-- /// TITLE ///////////////////////////////////////////////////////////// -->
<header class=
	"{% if page.summary %}color{{page.summary}}{% else %}{% if page.categories %}color{{page.categories[1]}}{% else %}colordefault{% endif %}{% endif %}"
>
	{% if page.title %}{% assign title = page.title %}{% else %}{% assign title = site.title %}{% endif %}
	{% assign my_lenght = title|size %}
	<h1 class="{% if 25 <= my_lenght %}bigTitle{% else %}smalTitle{% endif %}">{{ title }}</h1>
	<a href="{{ site.url }}/{{ site.baseurl }}">
		<img src="{{ site.baseurl }}/assets/Training-by-serli-logo-white-01.png"/>
	</a>
</header>
<!-- /////////////////////////////////////////////////////////////////////// -->
