
$white: #ffffff;
$black: #000000;

$gray: #808080;
$lightgray: #b0b0b0;
$darkgray: #404040;

/// DEFAULT ///
	$blue: #3db8d8;
	$lightblue: #439be3;
	$darkblue: #1068b0;
/// ///

/// CLASS ///
	$red: #ff6f89;
	$darkred: #cc3c56;

	$orange: #ffa87f;
	$darkorange: #ec854f;

	$yellow: #FFD700;
	$darkyellow: #ccb400;

	$green: #78BC9B;
	$darkgreen: #458968;

	$purple: #CD00CD;
	$darkpurple: #9a009a;

	$maroon: #BC8078;
	$darkmaroon: #895045;

	$aqua: #00cccc;
	$darkaqua: #009999;
/// ///

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


//Custom Colors
$blue-serli:					#1068b0;
$blue-serli-light:		#3db8d8;

$typo-open:						'Open Sans', sans-serif;
