$content-width: 800px;
$main: #FFFFFF;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  #3071a9;

// Originaux
$blanc: #ffffff;
$blanc-transparent: rgba(255, 255, 255, 0.2);
$bleu: #1068b0;
$bleu-clair: #3db8d8;
$bleu-fonce: #062a46;
$rouge: #cc3c56;
$orange: #DF5A49;
$jaune: #ec854f;
$vert: #78BC9B;
$gris: #404040;
$beige: #BC8078;
$bleu-gris: #145156;
$gris-transparent: rgba(0,0,0, 0.3);

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
