$blanc: #ffffff;
$noir: #000000;

$gris: #808080;
$gris-clair: #b0b0b0;
$gris-fonce: #404040;

$bleu: #3db8d8;
$bleu-clair: #439be3;
$bleu-fonce: #1068b0;

$rouge: #ff6f89;
$rouge-fonce: #cc3c56;

$orange: #ffa87f;
$orange-fonce: #ec854f;

$jaune: #FFD700;
$jaune-fonce: #ccb400;

$vert: #78BC9B;
$vert-fonce: #458968;

$violet: #CD00CD;
$violet-fonce: #9a009a;

$beige: #BC8078;
$beige-fonce: #895045;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
