*{ // default initialization
	margin: 0;
	padding: 0;
}
.hello{
	outline:1px solid red;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

img { // default initialization of the image size
	height: 20px;
	width: auto;
}

@font-face { // loading fonts
	font-family: "gloriahallelujah";
	src: url('../assets/gloriahallelujah.ttf');
}
.container{
	margin:0 auto;
	padding:0 15px 0 15px;
	@media (min-width:$screen-sm){
		width:720px;
		padding:0;
	}
	@media (min-width:$screen-md){
		width:980px;
	}
	@media (min-width:$screen-lg){
		width:1140px;
	}
}
body{
	font-family:$typo-open;
}
html, body {
	height: 100%;
	#container {
		position: relative;
		min-height: 100%; // for the footer is at the bottom of the page, even if it is empty
		main {
/// MENU ///////////////////////////////////////////////////////////////////////
			aside {
				background-color: $blue-serli-light; // default color
				width: 100%;
				padding:10px 0 10px 0;
				.container{
					padding:0 5px 0 5px;
					@media (min-width:$screen-sm){
						padding:0;
					}
				}
				nav {
					margin: 0 auto;
					ul {
						list-style: none;
						padding:0;
						margin:0;
						height:25px;
						text-align:center;
						@media (min-width:$screen-sm){
							text-align:left;
						}
						li {
							display: inline-block;
							margin-right:10px;
							height:30px;
							&:last-child{
								margin-right:0;
							}
							@media (min-width:$screen-sm){
								margin-right:15px;
							}
							@media (min-width:$screen-md){
								margin-right:25px;
							}
							@media (min-width:$screen-lg){
								margin-right:45px;
							}

							a {
								text-decoration: none;
								display: block;
								height:25px;
								line-height:25px;
								color: $white;
								img {
									height: 25px;
									width: auto;
									display: inline-block;
									margin: auto;
									float:left;
									@media (min-width:$screen-sm){
										margin-right:5px;
										height: 18px;
										width:auto;
									}
									@media (min-width:$screen-md){
										height: 25px;
										width: auto;
									}
								}
								span{
									display:none;
									float:left;
									font-size:14px;
									font-weight:600;
									@media (min-width:$screen-sm){
										display:inline-block;
										font-size:13px;
									}
									@media (min-width:$screen-md){
										font-size:14px;
									}
								}
							}
							&:hover,
							&:active,
							&:focus {
								border-bottom:2px solid #ffffff;
							}
						}
					}
				}
			}


/// TITLE //////////////////////////////////////////////////////////////////////
			header {
				background-color: $blue-serli; // default color
				align-items: center;
				padding:15px 0 15px 0;
				@media (min-width:$screen-sm){
					padding:15px 0 45px 0;
				}
				.container{
					position:relative;
					padding:0 15px 0 15px;
					@media (min-width:$screen-sm){
						padding:0;
						background:url(../assets/background-image/img-banner-formation.png) no-repeat right;
						background-size:auto 100%;
					}
				}
 				h1 {
					width:200px;
					height:100px;
					text-indent:-99999em;
					background:url(../assets/background-image/Training-by-serli-logo.png) no-repeat;
					background-size:100% auto;
					margin:0 auto;
					@media (min-width:$screen-sm){
						width:270px;
						height:133px;
						margin:initial;
					}
					@media (min-width:$screen-md){
						width:360px;
						height:177px;
						margin:initial;
					}
				}
				.bigTitle {
					font-size: 30px;
					line-height : 46px;
				}
			}
			article {
				padding:30px 0 30px 0;
				.page-title{
					margin-bottom:40px;
					h2{
						color:$blue-serli;
						font-size:30px;
						border-bottom:2px solid $blue-serli;
						display:inline-block;
						font-weight:800;
						padding-bottom:10px;
					}
				}
				input {
					font-size: 22px;
					display:block;
					margin-bottom:30px;
					width: 100%;
					color: $blue-serli;
					padding: 5px;
					border-top: 10px solid $blue-serli;
					border-bottom: 10px solid $blue-serli;
					border-left: 15px solid $blue-serli;
					border-right: 15px solid $blue-serli;
					background-color: $white;
					background-repeat: repeat-x;
					@media (min-width:$screen-sm){
						border-left: 100px solid $blue-serli;
						border-right: 100px solid $blue-serli;
					}
					@media (min-width:$screen-md){
						border-left: 200px solid $blue-serli;
						border-right: 200px solid $blue-serli;
					}
					&:focus {
						background-image: none;
					  outline: none;
					}
				}

				::-webkit-input-placeholder {
					color:#BAC4CC;
				}
				::-moz-placeholder { /* firefox 19+ */
					color:#BAC4CC;
				}
				:-ms-input-placeholder { /* ie */
					color:#BAC4CC;
				}
				input:-moz-placeholder {
					color:#BAC4CC;
				}
// CATEGORY ////////////////////////////////////////////////////////////////////
				#summary {
					@extend .clearfix;

					@media (min-width:$screen-sm){
						margin-left:-15px;
						margin-right:-15px;
					}
					// ul{
					// 	&:nth-child(3) .draw, &:nth-child(6) .draw,
					// 	&:nth-child(9) .draw, &:nth-child(12) .draw,
					// 	&:nth-child(15) li, &:nth-child(18) li,
					// 	&:nth-child(21) li, &:nth-child(24) li,
					// 	&:nth-child(27) li, &:nth-child(30) li,
					// 	&:nth-child(33) li, &:nth-child(36) li,
					// 	&:nth-child(39) li, &:nth-child(42) li,
					// 	&:nth-child(45) li, &:nth-child(48) li,
					// 	&:nth-child(51) li, &:nth-child(54) li,
					// 	&:nth-child(57) li, &:nth-child(60) li{
					// 		margin-right:0%;
					// 	}
					// }
					ul {

						li {
							list-style: none;
							background-color: #b0b0b0; // default color
							background-repeat: repeat-x;
							margin: 0;
							width:100%;
							@media (min-width:$screen-sm){
								width:32%;
								float:left;
							}

							&.draw {
								text-align:center;
								display:inline-block;
								height:150px;
								line-height:150px;
								margin-left:1%;
								margin-bottom:30px;
								border-left:3px solid $blue-serli;
								transition: all 0.3s ease-in-out;
								&:hover{
									border-left:10px solid $blue-serli;
								}
								@media (min-width:$screen-sm){
									height:170px;
									line-height:170px;
								}
								@media (min-width:$screen-md){
									height:150px;
									line-height:150px;
								}
								@media (min-width:$screen-lg){
									height:130px;
									line-height:130px;
								}
								a {
									text-decoration: none;
									display: inline-block;
									color: $blue-serli;
									font-weight:800;
									font-size:20px;
									text-transform:uppercase;
									text-align:center;
									display:inline-block;
									vertical-align:middle;
									line-height:25px;
									padding:15px;
									&:hover{
										color:$white;
									}
								}
								-webkit-animation: come 0.2s;
								-moz-animation: come 0.2s;
							}
							&.notdraw {
								@-webkit-keyframes notcome {
								    from {
											margin-top: 5px;
											padding: 5px;
											font-size: 30px;
										}
								    to {
											margin-top: 0px;
											padding: 0px;
											font-size: 0px;
										}
								}
								@-moz-keyframes notcome {
								    from {
											margin-top: 5px;
											padding: 5px;
											font-size: 30px;
										}
								    to {
											margin-top: 0px;
											padding: 0px;
											font-size: 0px;
										}
								}
								-webkit-animation: notcome 0.2s;
								-moz-animation: notcome 0.2s;
								margin-top: 0px;
								padding: 0px;
								font-size: 0px;
							}
						}
					}
				}

/// TRAINING ///////////////////////////////////////////////////////////////////
				#training {
					td {
						text-align: center;
						height:25px;
						font-size:10px;
						@media (min-width:$screen-sm){
							font-size:12px;
						}
					}
					input {
						background-color: $blue-serli;
						border:none;
						color:$white;
						width:250px;
						margin-top:30px;
						font-weight:800;
						&:hover{
							background-color: $blue-serli-light;
						}
					}
					table {
						table-layout:fixed;
						border-collapse: separate;
        		border-spacing: 10px 0;
					}
					h3 {
						font-weight: normal;
						padding-top: 20px;
						padding-bottom: 10px;
						text-transform: uppercase;
						clear: both;
					}
					#detail {
						width: 100%;
						thead {
							tr {
								td {
									height: 30px;
									img {
										height: 30px;
										width: auto;
									}
								}
							}
						}
						tbody {
							tr {
								background-color: $lightgray;
								font-style: italic;
							}
							tr:first-child {
								font-style: normal;
							}
						}
					}
					ul {
						padding-left: 50px;
						list-style: disc;
						font-weight: bold;
						li {
							ul {
								padding-left: 50px;
								list-style: none;
								font-weight: normal;
							}
						}
					}
					#subject {
						padding-left: 0;
						li {
							display: inline-block;
							background-color: $blue-serli-light; // default color
							margin: 5px;
							padding: 5px;
							color: $white;
							font-weight: normal;
						}
					}
				}
				#index {
					margin-top:40px;
					div {
						width: 100%;
						display:block;
						background-color: $blue-serli-light;
						color: $white;
						float:left;
						padding-bottom:15px;
						font-size:14px;
						position:relative;
						margin-bottom:30px;
						@media (min-width:$screen-sm){
							width: 32%;
							margin-bottom:0;
							min-height:560px;
							&:nth-child(1), &:nth-child(2){
								margin-right:2%;
							}
						}
						@media (min-width:$screen-md){
							min-height:450px;
						}
						@media (min-width:$screen-lg){
							min-height:400px;
						}
						h3 {
							font-weight: 800;
							background-color: $blue-serli;
							padding: 10px;
							height:74px;
							margin-bottom:20px;
							font-size:14px;
							@media (min-width:$screen-sm){
								font-size:12px;
								padding: 10px;
							}
							@media (min-width:$screen-md){
								font-size:14px;
								padding: 10px;
							}
							@media (min-width:$screen-lg){
								font-size:16px;
								padding: 15px;
							}
						}
						.followedImg {
							padding-right: 70px;
						}
						img {
							position: absolute;
							height: 70px;
							bottom: 70px;
							top:-15px;
							right:0;
						}
						p {
							padding: 0 15px 0 15px;
							margin-bottom:10px;
						}
						ul {
							padding: 0 15px 0 15px;
							padding-left: 30px;
						}
					}
				}
			}
		}

/// FOOTER /////////////////////////////////////////////////////////////////////
		footer {
			background-color: $blue-serli;
			width: 100%;
			display: flex;
			align-items: center;
			color: $white;
			padding:30px 0 30px 0;
			.footer-block{
				width:100%;
				float:left;
				font-size:14px;
				margin-bottom:40px;
				@media (min-width:$screen-sm){
					width:32%;
					margin-bottom:0;
					&:nth-child(1), &:nth-child(2){
						margin-right:2%;
					}
				}
				h3{
					margin-bottom:20px;
					padding-bottom:5px;
					border-bottom:2px solid #ffffff;
					text-transform:uppercase;
					font-weight:300;
				}
				ul{
					list-style-type:none;
				}
			}
			.footer-infos-block{
				li{
					margin-bottom:5px;
					img{
						height:15px;
						width:auto;
						margin-right:10px;
					}
					a{
						color:$white;
						&:hover{
							color:$blue-serli-light;
						}
					}
				}
			}
			.footer-social-block{
				ul{
					li{
						float:left;
						img{
							height:32px;
							width:auto;
						}
					}
					#facebook{
						margin-right:4px;
					}
					#twitter{
						margin-right:10px;
					}
					#rss img{
						height:22px;
						margin-top:5px;
					}
				}
			}
		}
	}
	.containerdefault{
		main {
			article {
				#summary {
					ul {
						@-webkit-keyframes mydisplay {
								0% {
									height: 0;
									visibility: hidden;
									position: absolute;
								}
								90% {
									height: 0;
									visibility: hidden;
									position: absolute;
								}
								100% {
									height: auto;
									visibility: visible;
									position: inherit;
								}
						}
						@-moz-keyframes mydisplay {
								0% {
									height: 0;
									visibility: hidden;
									position: absolute;
								}
								90% {
									height: 0;
									visibility: hidden;
									position: absolute;
								}
								100% {
									height: auto;
									visibility: visible;
									position: inherit;
								}
						}
						-webkit-animation: mydisplay 0.2s;
						-moz-animation: mydisplay 0.2s;
					}
				}
			}
		}
	}
}

// @media all and (max-width: 1100px) { // aside 1
// 	body {
// 		#container {
// 			main {
// 				article {
// 					#index {
// 						div {
// 								width: 47%;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media all and (max-width: 876px) { // aside 1
// 	html {
// 		body {
// 			#container {
// 				main {
// 					padding-top: 54px; // size of aside
// 					aside {
// 						height:54px;
// 						nav {
// 							ul {
// 								li {
// 									height:50px;
// 									a {
// 										height:54px;
// 										img {
// 											height: 50px;
// 										}
// 										span {
// 											display: none;
// 										}
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media all and (max-width: 770px) { // footer 1
// 	html {
// 		body {
// 			#container {
// 				main {
// 					padding-bottom: 120px;
// 				}
// 				footer {
// 					height: 120px;
// 					nav {
// 						ul {
// 							li {
// 								display: inherit;
// 							}
// 							#rss {
// 								img {
// 									top: auto;
// 									height: 60px;
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media all and (max-width: 660px) { // aside 2 + header 1 + summary 1
// 	html {
// 		body {
// 			#container {
// 				main {
// 					padding-top: 34px; // size of aside
// 					aside {
// 						height:34px;
// 						nav {
// 							ul {
// 								li {
// 									height:30px;
// 									a {
// 										height:34px;
// 										img {
// 											height: 30px;
// 										}
// 										span {
// 											display: none;
// 										}
// 									}
// 								}
// 							}
// 						}
// 					}
// 					header {
// 						padding: 0 70px 0 70px;
// 						h1 {
// 							font-size: 30px;
// 							line-height : 46px;
// 						}
// 						a {
// 							img {
// 								display: none;
// 							}
// 						}
// 					}
// 					article {
// 						input {
// 							font-size: 20px;
// 						}
// 						#summary {
// 							padding: 0 15px 0 15px;
// 							ul {
// 								li {
// 									font-size: 20px;
// 								}
// 							}
// 						}
// 						#index {
// 							div {
// 									width: 97%;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media all and (max-width: 508px) { // aside 3 + footer 2
// 	html {
// 		body {
// 			#container {
// 				main {
// 					padding-top: 70px; // size of aside
// 					padding-bottom: 150px;
// 					aside {
// 						height:70px;
// 						nav {
// 							ul {
// 								li {
// 									height:30px;
// 									a {
// 										height:35px;
// 										img {
// 											height: 30px;
// 										}
// 										span {
// 											display: none;
// 										}
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 				footer {
// 					height: 150px;
// 					nav {
// 						ul {
// 							li {
// 								display: inherit;
// 							}
// 							#rss {
// 								img {
// 									top: auto;
// 									position: absolute;
// 									left: 10px;
// 									bottom: 50px;
// 									height: 90px;
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
