*{ // default initialization
	margin: 0;
	padding: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

img { // default initialization of the image size
	height: 20px;
	width: auto;
}

@font-face { // loading fonts
	font-family: "gloriahallelujah";
	src: url('../assets/gloriahallelujah.ttf');
}
.container{
	margin:0 auto;
	@media (min-width:768px){
		width:720px;
	}
	@media (min-width:992px){
		width:720px;
	}
	@media (min-width:1200px){
		width:1140px;
	}
}
body{
	font-family:$typo-open;
}
html, body {
	height: 100%;
	#container {
		position: relative;
		min-height: 100%; // for the footer is at the bottom of the page, even if it is empty
		main {
/// MENU ///////////////////////////////////////////////////////////////////////
			aside {
				background-color: $blue-serli-light; // default color
				width: 100%;
				padding:10px 0 10px 0;
				nav {
					margin: 0 auto;
					ul {
						list-style: none;
						padding:0;
						margin:0;
						height:25px;
						li {
							display: inline-block;
							margin-right:20px;
							height:30px;
							a {
								text-decoration: none;
								display: block;
								height:25px;
								line-height:25px;
								color: $white;
								img {
									height: 25px;
									width: auto;
									display: inline-block;
									margin: auto;
									float:left;
									margin-right:5px;
								}
								span{
									display:inline-block;
									float:left;
									font-size:14px;
									font-weight:600;
								}
							}
							&:hover,
							&:active,
							&:focus {
								border-bottom:2px solid #ffffff;
							}
						}
					}
				}
			}


/// TITLE //////////////////////////////////////////////////////////////////////
			header {
				background-color: $blue-serli; // default color
				align-items: center;
				padding:15px 0 45px 0;
				.container{
					background:url(../assets/background-image/img-banner-formation.png) no-repeat right;
					position:relative;
				}
 				h1 {
					width:360px;
					height:177px;
					text-indent:-99999em;
					background:url(../assets/background-image/Training-by-serli-logo.png) no-repeat;
					background-size:100% auto;
				}
				.bigTitle {
					font-size: 30px;
					line-height : 46px;
				}
			}
			article {
				padding:30px 0 30px 0;
				.page-title{
					margin-bottom:40px;
					h2{
						color:$blue-serli;
						font-size:30px;
						border-bottom:2px solid $blue-serli;
						display:inline-block;
						font-weight:800;
						padding-bottom:10px;
					}
				}
				input {
					font-size: 22px;
					display:block;
					margin-bottom:30px;
					width: 100%;
					color: $blue-serli;
					padding: 5px;
					border-top: 10px solid $blue-serli;
					border-bottom: 10px solid $blue-serli;
					border-left: 200px solid $blue-serli;
					border-right: 200px solid $blue-serli;
					background-color: $white;
					background-repeat: repeat-x;
					&:focus {
						background-image: none;
					  outline: none;
					}
				}

				::-webkit-input-placeholder {
					color:#BAC4CC;
				}
				::-moz-placeholder { /* firefox 19+ */
					color:#BAC4CC;
				}
				:-ms-input-placeholder { /* ie */
					color:#BAC4CC;
				}
				input:-moz-placeholder {
					color:#BAC4CC;
				}
// CATEGORY ////////////////////////////////////////////////////////////////////
				#summary {
					padding: 0 15vw 0 15vw;
					ul {
						li {
							list-style: none;
							background-color: $darkblue; // default color
							background-image: url(../assets/background-image/article.png);
							background-repeat: repeat-x;
							margin: 0;
							a {
								text-decoration: none;
								display: block;
								color: $white;
							}
							&.draw {
								@-webkit-keyframes come {
								    from {
											margin-top: 0px;
											padding: 0px;
											font-size: 0px;
										}
								    to {
											margin-top: 5px;
											padding: 5px;
											font-size: 30px;
										}
								}
								@-moz-keyframes come {
								    from {
											margin-top: 0px;
											padding: 0px;
											font-size: 0px;
										}
								    to {
											margin-top: 5px;
											padding: 5px;
											font-size: 30px;
										}
								}
								-webkit-animation: come 0.2s;
								-moz-animation: come 0.2s;
								margin-top: 5px;
								padding: 5px;
								font-size: 30px;
							}
							&.notdraw {
								@-webkit-keyframes notcome {
								    from {
											margin-top: 5px;
											padding: 5px;
											font-size: 30px;
										}
								    to {
											margin-top: 0px;
											padding: 0px;
											font-size: 0px;
										}
								}
								@-moz-keyframes notcome {
								    from {
											margin-top: 5px;
											padding: 5px;
											font-size: 30px;
										}
								    to {
											margin-top: 0px;
											padding: 0px;
											font-size: 0px;
										}
								}
								-webkit-animation: notcome 0.2s;
								-moz-animation: notcome 0.2s;
								margin-top: 0px;
								padding: 0px;
								font-size: 0px;
							}
						}
					}
				}

/// TRAINING ///////////////////////////////////////////////////////////////////
				#training {
					padding: 10px;
					td {
						text-align: center;
					}
					input {
						background-color: $darkblue;
					}
					table {
						table-layout:fixed;
						border-collapse: separate;
        		border-spacing: 10px 0;
					}
					h3 {
						font-weight: normal;
						padding-top: 20px;
						padding-bottom: 10px;
						text-transform: uppercase;
						clear: both;
					}
					#detail {
						width: 100%;
						thead {
							tr {
								td {
									height: 30px;
									img {
										height: 30px;
										width: auto;
									}
								}
							}
						}
						tbody {
							tr {
								background-color: $lightgray;
								font-style: italic;
							}
							tr:first-child {
								font-style: normal;
							}
						}
					}
					ul {
						padding-left: 50px;
						list-style: disc;
						font-weight: bold;
						li {
							ul {
								padding-left: 50px;
								list-style: none;
								font-weight: normal;
							}
						}
					}
					#subject {
						padding-left: 0;
						li {
							display: inline-block;
							background-color: $blue; // default color
							margin: 5px;
							padding: 5px;
							color: $white;
							font-weight: normal;
						}
						// depending on the class a different color ////////////////////////
							li.colorJava{
								background-color: $red;
							}
							li.colorData{
								background-color: $orange;
							}
							li.colorMobilite{
								background-color: $yellow;
							}
							li.colorWorkshops{
								background-color: $green;
							}
							li.colorLanguagesAlternatifs{
								background-color: $purple;
							}
							li.colorWeb{
								background-color: $maroon;
							}
							li.colorMethodesOutils{
								background-color: $aqua;
							}
						////////////////////////////////////////////////////////////////////
					}
				}
				#index {
					outline:1px solid red;
					div {
						width: 32%;
						display:block;
						background-color: $blue-serli-light;
						color: $white;
						float:left;
						min-height:460px;
						font-size:14px;
						&:nth-child(1), &:nth-child(2){
							margin-right:2%;
						}
						h3 {
							font-weight: 800;
							background-color: $blue-serli;
							padding: 15px;
							height:74px;
							margin-bottom:20px;
						}
						.followedImg {
							padding-right: 70px;
						}
						img {
							position: relative;
							height: 70px;
							bottom: 70px;
							outline:1px solid red;
						}
						p {
							padding: 0 15px 0 15px;
							margin-bottom:10px;
						}
						ul {
							padding: 0 15px 0 15px;
							padding-left: 30px;
						}
					}
				}
			}
		}

/// FOOTER /////////////////////////////////////////////////////////////////////
		footer {
			height: 50px;
			background-color: $blue-serli;
			width: 100%;
			display: flex;
			align-items: center;
			color: $white;
			nav {
				img {
					height: 30px;
					width: 90px;
					left: 10px;
					bottom: 10px;
					position: absolute;
				}
				ul {
					max-width: 1000px;
					list-style: none;
					li {
						display: inline-block;
						padding: 0 15px 0 15px;
						img {
							height: 20px;
							width: 20px;
							left: 0px;
							bottom: 0px;
							position: relative;
						}
						a {
							color: $white;
						}
					}
					#rss  {
						float: left;
						img {
							top: 4px;
							position: relative;
							height: 40px;
							width: auto;
						}
					}
				}
			}
		}
	}
	.containerdefault{
		main {
			article {
				#summary {
					ul {
						@-webkit-keyframes mydisplay {
								0% {
									height: 0;
									visibility: hidden;
									position: absolute;
								}
								90% {
									height: 0;
									visibility: hidden;
									position: absolute;
								}
								100% {
									height: auto;
									visibility: visible;
									position: inherit;
								}
						}
						@-moz-keyframes mydisplay {
								0% {
									height: 0;
									visibility: hidden;
									position: absolute;
								}
								90% {
									height: 0;
									visibility: hidden;
									position: absolute;
								}
								100% {
									height: auto;
									visibility: visible;
									position: inherit;
								}
						}
						-webkit-animation: mydisplay 0.2s;
						-moz-animation: mydisplay 0.2s;
					}
				}
			}
		}
	}
}

// @media all and (max-width: 1100px) { // aside 1
// 	body {
// 		#container {
// 			main {
// 				article {
// 					#index {
// 						div {
// 								width: 47%;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media all and (max-width: 876px) { // aside 1
// 	html {
// 		body {
// 			#container {
// 				main {
// 					padding-top: 54px; // size of aside
// 					aside {
// 						height:54px;
// 						nav {
// 							ul {
// 								li {
// 									height:50px;
// 									a {
// 										height:54px;
// 										img {
// 											height: 50px;
// 										}
// 										span {
// 											display: none;
// 										}
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media all and (max-width: 770px) { // footer 1
// 	html {
// 		body {
// 			#container {
// 				main {
// 					padding-bottom: 120px;
// 				}
// 				footer {
// 					height: 120px;
// 					nav {
// 						ul {
// 							li {
// 								display: inherit;
// 							}
// 							#rss {
// 								img {
// 									top: auto;
// 									height: 60px;
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media all and (max-width: 660px) { // aside 2 + header 1 + summary 1
// 	html {
// 		body {
// 			#container {
// 				main {
// 					padding-top: 34px; // size of aside
// 					aside {
// 						height:34px;
// 						nav {
// 							ul {
// 								li {
// 									height:30px;
// 									a {
// 										height:34px;
// 										img {
// 											height: 30px;
// 										}
// 										span {
// 											display: none;
// 										}
// 									}
// 								}
// 							}
// 						}
// 					}
// 					header {
// 						padding: 0 70px 0 70px;
// 						h1 {
// 							font-size: 30px;
// 							line-height : 46px;
// 						}
// 						a {
// 							img {
// 								display: none;
// 							}
// 						}
// 					}
// 					article {
// 						input {
// 							font-size: 20px;
// 						}
// 						#summary {
// 							padding: 0 15px 0 15px;
// 							ul {
// 								li {
// 									font-size: 20px;
// 								}
// 							}
// 						}
// 						#index {
// 							div {
// 									width: 97%;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media all and (max-width: 508px) { // aside 3 + footer 2
// 	html {
// 		body {
// 			#container {
// 				main {
// 					padding-top: 70px; // size of aside
// 					padding-bottom: 150px;
// 					aside {
// 						height:70px;
// 						nav {
// 							ul {
// 								li {
// 									height:30px;
// 									a {
// 										height:35px;
// 										img {
// 											height: 30px;
// 										}
// 										span {
// 											display: none;
// 										}
// 									}
// 								}
// 							}
// 						}
// 					}
// 				}
// 				footer {
// 					height: 150px;
// 					nav {
// 						ul {
// 							li {
// 								display: inherit;
// 							}
// 							#rss {
// 								img {
// 									top: auto;
// 									position: absolute;
// 									left: 10px;
// 									bottom: 50px;
// 									height: 90px;
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
