*{
	margin: 0;
	padding: 0;
  font-family: sans-serif;
}

img {
	height: 20px;
	width: auto;
}

html, body {
	height: 100%;
	#container {
		position: relative;
		min-height: 100%;
		main {
			background-color: $blanc;
			padding-bottom: 120px;
			aside {
				background-color: $bleu;
				background-image: url(../assets/background-image/article.png);
				background-repeat: repeat-x;
				position: absolute;
				top: -50px;
				left: 0;
				width: 100%;
				z-index: 2;
				nav {
					min-width: 650px;
					margin: 0 auto;
					ul {
						list-style: none;
						li {
							float: left;
							a {
								height: 50px;
								text-decoration: none;
								display: block;
								padding: 0 15px 0 15px;
								color: $blanc;
								&:hover,
								&:active {
									background: $bleu-fonce;
								}
								&:hover.colorJava,
								&:active.colorJava{
									background-color: $rouge-fonce;
								}
								&:hover.colorData,
								&:active.colorData{
									background-color: $orange-fonce;
								}
								&:hover.colorMobilite,
								&:active.colorMobilite{
									background-color: $jaune-fonce;
								}
								&:hover.colorWorkshops,
								&:active.colorWorkshops{
									background-color: $vert-fonce;
								}
								&:hover.colorLanguagesAlternatifs,
								&:active.colorLanguagesAlternatifs{
									background-color: $violet-fonce;
								}
								&:hover.colorWeb,
								&:active.colorWeb{
									background-color: $beige-fonce;
								}
								img {
									height: 45px;
									width: auto;
								}
							}
						}
					}
				}
			}
			aside.colorJava{
				background-color: $rouge;
			}
			aside.colorData{
				background-color: $orange;
			}
			aside.colorMobilite{
				background-color: $jaune;
			}
			aside.colorWorkshops{
				background-color: $vert;
			}
			aside.colorLanguagesAlternatifs{
				background-color: $violet;
			}
			aside.colorWeb{
				background-color: $beige;
			}
			header {
				height: 30vh;
				background-color: $bleu-fonce;
				background-image: url(../assets/background-image/header.png);
				background-repeat: repeat-x;
				margin-top: 50px;
				padding: 0 50vh 0 10vh;
				display: flex;
				align-items: center;
				h1 {
					font-size: 10vh;
					color: $blanc;
				}
				a {
					img {
						height: 30vh;
						width: auto;
						right: 10px;
						top: 0;
						position: absolute;
					}
				}
			}
			header.colorJava{
				background-color: $rouge-fonce;
			}
			header.colorData{
				background-color: $orange-fonce;
			}
			header.colorMobilite{
				background-color: $jaune-fonce;
			}
			header.colorWorkshops{
				background-color: $vert-fonce;
			}
			header.colorLanguagesAlternatifs{
				background-color: $violet-fonce;
			}
			header.colorWeb{
				background-color: $beige-fonce;
			}
			article {
				padding: 10px;
				#summary {
					ul {
						li {
							list-style: none;
							background-color: $bleu;
							background-image: url(../assets/background-image/article.png);
							background-repeat: repeat-x;
							margin: 2vh;
							padding: 2vh;
							font-size: 6vh;
							a {
								text-decoration: none;
								display: block;
								color: $blanc;
							}
						}
						li.colorJava{
							background-color: $rouge;
						}
						li.colorData{
							background-color: $orange;
						}
						li.colorMobilite{
							background-color: $jaune;
						}
						li.colorWorkshops{
							background-color: $vert;
						}
						li.colorLanguagesAlternatifs{
							background-color: $violet;
						}
						li.colorWeb{
							background-color: $beige;
						}
					}
				}
				#training {
					td {
						text-align: center;
					}
					table {
						table-layout:fixed;
						border-collapse: separate;
        		border-spacing: 10px 0;
					}
					h3 {
						font-weight: normal;
						padding-top: 20px;
						padding-bottom: 10px;
						text-transform: uppercase;
						clear: both;
					}
					#detail {
						width: 100%;
						thead {
							tr {
								td {
									height: 30px;
									img {
										height: 30px;
										width: auto;
									}
								}
							}
						}
						tbody {
							tr {
								background-color: $gris-clair;
								font-style: italic;
							}
							tr:first-child {
								font-style: normal;
							}
						}
					}
					ul {
						padding-left: 50px;
						list-style: disc;
						font-weight: bold;
						li {
							ul {
								padding-left: 50px;
								list-style: none;
								font-weight: normal;
							}
						}
					}
					#subject {
						padding-left: 0;
						li {
							float: left;
							display: block;
							background-color: $bleu;
							margin: 5px;
							padding: 5px;
							color: $blanc;
							font-weight: normal;
						}
						li.colorJava{
							background-color: $rouge;
						}
						li.colorData{
							background-color: $orange;
						}
						li.colorMobilite{
							background-color: $jaune;
						}
						li.colorWorkshops{
							background-color: $vert;
						}
						li.colorLanguagesAlternatifs{
							background-color: $violet;
						}
						li.colorWeb{
							background-color: $beige;
						}
					}
				}
				#index {
					div {
						width: 45%;
						min-width: 400px;
						display: inline-block;
						vertical-align: top;
						margin: 10px;
						background-color: $bleu-clair;
						color: $blanc;
						h3 {
							font-weight: normal;
							background-color: $bleu-fonce;
							padding: 10px;
						}
						p {
							padding: 10px;
						}
						ul {
							padding: 10px;
							padding-left: 30px;
						}
					}
				}
			}
		}
		.maindefault{
			background-color: $bleu;
		}
		footer {
			height: 50px;
			position: absolute;
			bottom: 0;
			background-color: $bleu-fonce;
			background-image: url(../assets/background-image/header.png);
			background-repeat: repeat-x;
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0 0 0 120px;
			min-width: 650px;
			color: $blanc;
			nav {
				img {
					height: 30px;
					width: 90px;
					left: 10px;
					bottom: 10px;
					position: absolute;
				}
				ul {
					list-style: none;
					li {
						float: left;
						padding: 0 15px 0 15px;
						img {
							height: 20px;
							width: 20px;
							left: 0px;
							bottom: 0px;
							position: relative;;
						}
						a {
							color: $blanc;
						}
					}
				}
			}
		}
		footer.colorJava{
			background-color: $rouge-fonce;
		}
		footer.colorData{
			background-color: $orange-fonce;
		}
		footer.colorMobilite{
			background-color: $jaune-fonce;
		}
		footer.colorWorkshops{
			background-color: $vert-fonce;
		}
		footer.colorLanguagesAlternatifs{
			background-color: $violet-fonce;
		}
		footer.colorWeb{
			background-color: $beige-fonce;
		}
	}
}
