---
layout: default
---
<!-- /// SUMMARY /////////////////////////////////////////////////////////// -->
<div ng-app="formation" ng-controller="Summary">
  <input class="{% if page.node %}color{{page.node}}{% else %}colordefault{% endif %}"
    type="text" ng-model="research.title" placeholder="Search...">
  <div id="summary">
    <ul ng-repeat="n in (trainings|filter:research)">
      <!-- /// training ////////////////////////////////////////////////////// -->
        <li class="[[n.class]]">
          <a href="[[n.href]]">[[n.title]]</a>
        </li>
      <!-- /////////////////////////////////////////////////////////////////// -->
    </ul>
  </div>
</div>
<!-- /////////////////////////////////////////////////////////////////////// -->
