---
layout: default
---
<!-- /// TRAINING ////////////////////////////////////////////////////////// -->
<div id="training" ng-app="formation" ng-controller="Training">
  <!-- /// detail ////////////////////////////////////////////////////////// -->
  <table id="detail">
    <thead>
      <tr>
        <td>
          <img src="{{ site.baseurl }}/assets/detail/duration.png" />
          {{' '}}DURÉE
        </td>
        <td>
          <img src="{{ site.baseurl }}/assets/detail/public.png" />
          {{' '}}PUBLIC
        </td>
        <td>
          <img src="{{ site.baseurl }}/assets/detail/price.png" />
          {{' '}}TARIF
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan=
          {% if page.duration-description %}1{%else%}2{%endif%}
        > {{ page.duration }} </td>
        <td rowspan=2 > {{ page.public }} </td>
        <td rowspan=
          {% if page.costs-description %}1{%else%}2{%endif%}
        > {{ page.costs }} </td>
      </tr>
      <tr>
        {% if page.duration-description %}
          <td> {{ page.duration-description }} </td>
        {%endif%}
        {% if page.costs-description %}
          <td> {{ page.costs-description }} </td>
        {%endif%}
      </tr>
    </tbody>
  </table>
  <!-- ///////////////////////////////////////////////////////////////////// -->
  <br/>
  <!-- /// reference /////////////////////////////////////////////////////// -->
  {% if page.ref %}
    <p id="ref">Réf. {{ page.ref }}</p>
  {% endif %}
  <!-- /// presentation //////////////////////////////////////////////////// -->
  <h3>PRÉSENTATION</h3>
  {{content}}
  <!-- ///////////////////////////////////////////////////////////////////// -->
  <br/>
  <!-- /// subjects //////////////////////////////////////////////////////// -->
  <ul id="subject" >
    {% for s in page.subject %}
      <li class="{% if page.categories %}color{{page.categories}}{% else %}{% if page.title %}color{{page.title}}{% else %}colordefault{% endif %}{% endif %}">
        {{ s }}
      </li>
    {% endfor %}
  </ul>
  <!-- /// program ///////////////////////////////////////////////////////// -->
  {% if page.program %}
    <h3>programme</h3>
    <ul id="program" >
      {% for p in page.program %}
        <li> {{ p.title }}
          <ul>
            {% for a in p.activity %}
              <li> {{ a }} </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <!-- ///////////////////////////////////////////////////////////////////// -->

  <input class="{% if page.categories %}color{{page.categories}}{% else %}{% if page.title %}color{{page.title}}{% else %}colordefault{% endif %}{% endif %}"
    type="button" value="pdf" ng-click="createPDF()"/>

  <script src="../js/imageData.js"></script>
  <script src="../js/createPDF.js"></script>
  <script>
    var app = angular.module('formation', [])
    app .config(['$interpolateProvider', function ($interpolateProvider) {
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
    }]);
    app.controller('Training', function($scope) {
      $scope.createPDF = function () {
        var pdfTitle = "{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}";
        var pdfDuration = "{{page.duration}}";
        var pdfCosts = "{{page.costs}}";
        var pdfDurationDescription = "{{page.duration-description}}";
        var pdfCostsDescription = "{{page.costs-description}}";
        var pdfPublic = "{{page.public}}";
        var pdfRef = "{{page.ref}}";
        var pdfSubject = [];
        {% for s in page.subject %}
          pdfSubject.push("{{s}}");
        {% endfor %}
        var pdfProgram  = [];
        {% for p in page.program %}
          var nameProgram = "{{p.title}}";
          var activityProgram = [];
          {% for a in p.activity %}
            activityProgram.push("{{a}}");
          {% endfor %}
          pdfProgram.push({name:nameProgram, activity:activityProgram});
        {% endfor %}
        var pdfContent = '';
        {% if page.presentation %}
            var pdfContent = "{{page.presentation}}";
        {% endif %}

        createPDF(pdfTitle,
                  pdfDuration,
                  pdfCosts,
                  pdfDurationDescription,
                  pdfCostsDescription,
                  pdfPublic,
                  pdfRef,
                  pdfSubject,
                  pdfProgram,
                  pdfContent);
      };
    });
  </script>
  <script src="../js/jspdf.debug.js"></script>
</div>
<!-- /////////////////////////////////////////////////////////////////////// -->
