---
layout: default
---
<!-- /// TRAINING ////////////////////////////////////////////////////////// -->
<div id="training" >
  <!-- /// detail ////////////////////////////////////////////////////////// -->
  <table id="detail">
    <thead>
      <tr>
        <td>
          <img src="{{ site.baseurl }}/assets/detail/duration.png" />
          {{' '}}DURÉE
        </td>
        <td>
          <img src="{{ site.baseurl }}/assets/detail/public.png" />
          {{' '}}PUBLIC
        </td>
        <td>
          <img src="{{ site.baseurl }}/assets/detail/price.png" />
          {{' '}}TARIF
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan=
          {% if page.duration-description %}1{%else%}2{%endif%}
        > {{ page.duration }} </td>
        <td rowspan=2 > {{ page.public }} </td>
        <td rowspan=
          {% if page.costs-description %}1{%else%}2{%endif%}
        > {{ page.costs }} </td>
      </tr>
      <tr>
        {% if page.duration-description %}
          <td> {{ page.duration-description }} </td>
        {%endif%}
        {% if page.costs-description %}
          <td> {{ page.costs-description }} </td>
        {%endif%}
      </tr>
    </tbody>
  </table>
  <!-- ///////////////////////////////////////////////////////////////////// -->
  <br/>
  <!-- /// reference /////////////////////////////////////////////////////// -->
  {% if page.ref %}
    <p id="ref">Réf. {{ page.ref }}</p>
  {% endif %}
  <!-- /// presentation //////////////////////////////////////////////////// -->
  {{content}}
  <!-- ///////////////////////////////////////////////////////////////////// -->
  <br/>
  <!-- /// subjects //////////////////////////////////////////////////////// -->
  <ul id="subject" >
    {% for s in page.subject %}
      <li class="{% if page.categories %}color{{page.categories}}{% else %}{% if page.title %}color{{page.title}}{% else %}colordefault{% endif %}{% endif %}">
        {{ s }}
      </li>
    {% endfor %}
  </ul>
  <!-- /// program ///////////////////////////////////////////////////////// -->
  {% if page.program %}
    <h3>programme</h3>
    <ul id="program" >
      {% for p in page.program %}
        <li> {{ p.title }}
          <ul>
            {% for a in p.activity %}
              <li> {{ a }} </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <!-- ///////////////////////////////////////////////////////////////////// -->
</div>
<!-- /////////////////////////////////////////////////////////////////////// -->
